@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
    --gray: #637681;
    --bg: #FEF9F2;
    --green: #068932;

}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family:'Open Sans';
    overflow-x: hidden;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 1450px;
    padding: 0 40px;
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 30px 3%;
    }
  }
  
  
  
  @media screen and (max-width: 465px) {
    .container {
        padding: 20px 2%;
    }
  }
  
 
  
  .swiper-button-prev::after,
  .swiper-button-next::after {
    color: #fff;
    font-size: 15px;
  }
  